body {
 	width: 1480px;
	height: 1508px;
	margin-left: 100px;
	margin-right: 100px;
 }
 .logo{
 	margin-top: 79px;
  	margin-bottom: 45px;
	height: 74px;
	width: 292px;
	font-family: 'MyriadProRegular';
	font-size: 80px;
	font-weight: 400;
	text-align: center;
 }
 .beginName{
 	color: #000000;	
 }
 .endName{
 	color: #4bcaff;
 }



.top-menu{
	background-color:#35444f;
width: 1280px;
height: 69px;

}
.menu-main {
	font-family: 'MyriadProRegular';
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  text-align: left;

}

.menu-main li {
	display: inline;
	margin-top: 20px;
}

.menu-main a  {text-decoration: none; 
	color: white;
	 display: inline-block;
	 padding:  19px;

}

.menu-main a:hover {
	background-color: #222e39;
	border-right: 1px solid white;
	border-left: 1px solid white;


}


.context{
	 position: relative;
	margin-left:396px;
	margin-top: 51px;
border-width: 1px;
height: 527px;
width: 883px;
border-color: #35444f;
border-style: solid;
background-color: #ffffff;	
}

.contextText{
	margin-left: 426px;
	margin-right: 38px;
margin-top: 51px;
height: 253px;
width: 816px;
font-family: 'MyriadProRegular';
color: #2c2b2b;
font-size: 18px;
font-weight: 400;
line-height: 24px
text-align: left;
}
.contextText p{
text-align: left;

}
.foto1{
	margin-left: 297px;
	margin-top: 73px;
width: 320px;
height: 381px;

}
.menu-left{
	
border-width: 1px;
height: 399px;
width: 344px;
border-color: #35444f;
border-style: solid;
background-color: #ffffff;	
float:left;
}
.menul{
	color: #485863;
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-family: 'MyriadProRegular';
        font-size: 26.99px;
      font-weight: 400;
      
      text-align: left;
   }
   .menul li{ 
 
      
    } 
    .menul a {
    	
        color: #485863;
       margin-left: 42px;
        text-decoration: none;
        font-weight: bold;
       line-height:65px;
        display: block;

    }
    .menul a:hover {
        background-color: #d9d9d9;
        padding-left: 84px;
        margin-left:0px;
      }
.footer{
	margin-left: 10px;
	margin-top: 233px;
width: 1280px;
height: 69px;
background-color:#b3b6b9;
}
.menu-footer{
	color: #485863;
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-family: 'MyriadProRegular';
        font-size: 23px;
      font-weight: 400;
      
    
}
.menu-footer a {
	margin-left: 43px;
            color: #485863;
            text-decoration: none;
       
       
       
    }
    .menu-footer a:hover {
        color: #3181a6;
        text-decoration: underline;
      }
.menu-footer li { display: inline; }


@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProBold";
			src: url("../fonts/MyriadProBold/MyriadProBold.eot");
			src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
			url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProItalic";
			src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
			src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
			url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProSemiBold";
			src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
			src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
			url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProBoldItalic";
			src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
			src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
			url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProSemiBoldItalic";
			src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
			src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
			url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}